{{page-title "Employees"}}

<div class="flex-container">
    <div>
        <ol>
            {{#each model as |employee|}}

            <li>

                NIM &nbsp;&nbsp;: <input defaultValue={{employee.nim}} type="text" /><br />

                Nama : <input defaultValue={{employee.nama}} type="text" />

                <button class="button-delete" type='submit'
                    {{action 'updateEmployee' employee.id employee.nim employee.nama}}>Edit</button>

                <button class="button-delete" type='button' {{action 'deleteEm' employee}}>Delete</button><br />

                <button class="button-delete" type='button' {{action 'readData' employee.id}}>Read</button>

            </li>

            {{/each}}
        </ol>
        <form>
            <div class="button-container">
                <div><br />
                    {{input value=newEmployeeNim placeholder='Add New Employee Nim'}}
                    {{input value=newEmployeeName placeholder='Add New Employee Name'}}
                    <button class="button-add" type='submit' {{action 'createEmployee' employee}}>Add</button>
                </div>
            </div>
        </form>

    </div>
</div>
{{outlet}}